<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <center><h2>Message List</h2></center>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Message Description</th>
                <th>Message From</th>
                <th>Is Palindrome</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="message : ${messages}">
                <td th:text="${message.id}">id</td>
                <td th:text="${message.messageDescription}">messageDescription</td>
                <td th:text="${message.messageFrom}">messageFrom</td>
                <td th:text="${message.palindrome}">palindrome</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>